@font-face {
	font-family: "JetBrains Mono";
	src: url("fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("fonts/Poppins-Regular.ttf");
}

/* variables */

:root {
	--primary-color: #af4c0f;
	--background-color: #f7f3e9;
}

/* global */

* {
	font-family: "Poppins";
}

/* Hide spinners for number inputs */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}
