@font-face {
	font-family: "JetBrains Mono";
	src: url("fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("fonts/Poppins-Regular.ttf");
}

/* variables */

:root {
	--primary-color: #af4c0f;
	--background-color: #f7f3e9;
}

/* global */

* {
	font-family: "Poppins";
}

/* Hide spinners for number inputs */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	appearance: textfield;
	-moz-appearance: textfield;
}

.error-message-container {
	display: flex;
	flex-direction: row;
	background-color: #dc3545;
	padding: 8px;
	border-radius: 4px;
	color: white;
	display: none;
}

.settings-button {
	display: flex;
}

.weight-och-rate-left-cell {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.weight-och-rate-right-cell {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.weight-och-rate-input-row td,
.weight-och-rate-input-row td input {
	background-color: azure;
}
