---
import { NavLinks } from "../utils/constants";

const { activePage } = Astro.props;
---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
	<div class="container">
		<a class="navbar-brand ff-poppins" href={NavLinks.Home}>azalea</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class=`nav-link ${activePage == NavLinks.Home ? "active" : ""}` aria-current="page" href={NavLinks.Home}>Apps</a>
				</li>
				<li class="nav-item">
					<a class=`nav-link ${activePage == NavLinks.Settings ? "active":""}` href={NavLinks.Settings}>Settings</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
